aiofiles~=24.1.0
APScheduler~=3.11.0
cachetools~=6.0.0
kurigram~=2.2.4
meval~=2.5
ntgcalls~=2.0.1
pillow~=11.2.1
psutil~=7.0.0
py-yt-search~=0.3
pycryptodome~=3.23.0
pydantic~=2.11.5
pymongo~=4.13.0
py-tgcalls~=2.2.1
pytgcrypto~=1.2.11
python-dotenv~=1.1.0
pytdbot~=0.9.3
pytz~=2025.2
tdjson~=1.8.49
ujson~=5.10.0
yt-dlp~=2025.5.22
